DATABASE_URL=postgresql://excaliAi:excaliAi@localhost:5432/excaliAi
SESSION_SECRET=string

AI_PROVIDER=anthropic
AI_MODEL=claude-haiku-4-5
OPENAI_API_KEY=NOPE
ANTHROPIC_API_KEY=NOPE

SOCKET_PORT=3001
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001